*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer,.nav,.article,.aside{
    padding: 1em;
}
main{
    display: flex;
    height: 60vh;
}
header,footer{
    background-color: yellowgreen;
    height: 20vh;
}
.nav{
    background-color: beige;
    flex-grow: 1;
}
.aside{
    background-color: beige;
    flex-grow: 1;
}
.article{
    flex-grow: 4;
}
@media screen and (max-width:500px){
    main{
        flex-direction: column;
    }
}